---
http_interactions:
- request:
    method: post
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors
    body:
      encoding: UTF-8
      string: '{"name":"Test Monitor","frequency":15,"uri":"https://google.com","locations":["AWS_US_WEST_1"],"type":"simple"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - https://synthetics.newrelic.com/synthetics/api/v1/monitors/84cbb32d-7bce-4037-bb07-8dc2153d5fbc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:49:45 GMT
- request:
    method: get
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"monitors":[{"id":"84cbb32d-7bce-4037-bb07-8dc2153d5fbc","name":"Test
        Monitor","type":"SIMPLE","frequency":15,"uri":"https://google.com","locations":["AWS_US_WEST_1"],"status":"ENABLED","slaThreshold":7.0,"modifiedAt":"2016-02-26T14:49:45.702+0000","createdAt":"2016-02-26T14:49:45.702+0000","userId":0,"apiVersion":"0.2.2"}],"count":1}'
  recorded_at: Fri, 26 Feb 2016 14:49:45 GMT
- request:
    method: post
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/84cbb32d-7bce-4037-bb07-8dc2153d5fbc/labels
    body:
      encoding: UTF-8
      string: test:alpha
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - https://172.17.0.74/synthetics/api/v1/monitors/84cbb32d-7bce-4037-bb07-8dc2153d5fbc/labels/test:alpha
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:49:45 GMT
- request:
    method: get
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/labels/test:alpha
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"monitors":[{"id":"84cbb32d-7bce-4037-bb07-8dc2153d5fbc","name":"Test
        Monitor","type":"SIMPLE","frequency":15,"uri":"https://google.com","locations":["AWS_US_WEST_1"],"status":"ENABLED","slaThreshold":7.0,"modifiedAt":"2016-02-26T14:49:45.702+0000","createdAt":"2016-02-26T14:49:45.702+0000","userId":0,"apiVersion":"0.2.2"}],"count":1}'
  recorded_at: Fri, 26 Feb 2016 14:49:45 GMT
- request:
    method: get
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"labels":[{"type":"\"test","value":"label\""},{"type":"test","value":"alpha"},{"type":"test","value":"label"},{"type":"test","value":"nonempty"},{"type":"{\"category\"","value":"\"test"}],"count":5}'
  recorded_at: Fri, 26 Feb 2016 14:49:46 GMT
- request:
    method: delete
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/84cbb32d-7bce-4037-bb07-8dc2153d5fbc/labels/test:alpha
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:49:46 GMT
[...]
- request:
    method: delete
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/84cbb32d-7bce-4037-bb07-8dc2153d5fbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:49:47 GMT
recorded_with: VCR 3.0.0
