---
http_interactions:
- request:
    method: post
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors
    body:
      encoding: UTF-8
      string: '{"name":"Google Monitor","frequency":15,"uri":"https://google.com","locations":["AWS_US_WEST_1"],"type":"script_browser"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - https://synthetics.newrelic.com/synthetics/api/v1/monitors/d516ece0-8bf1-4d8d-bcd4-eefa40b0b825
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:52:09 GMT
- request:
    method: get
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"monitors":[{"id":"d516ece0-8bf1-4d8d-bcd4-eefa40b0b825","name":"Google
        Monitor","type":"SCRIPT_BROWSER","frequency":15,"uri":"https://google.com","locations":["AWS_US_WEST_1"],"status":"ENABLED","slaThreshold":7.0,"modifiedAt":"2016-02-26T14:52:10.204+0000","createdAt":"2016-02-26T14:52:10.204+0000","userId":0,"apiVersion":"0.2.2"}],"count":1}'
  recorded_at: Fri, 26 Feb 2016 14:52:10 GMT
- request:
    method: put
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/d516ece0-8bf1-4d8d-bcd4-eefa40b0b825
    body:
      encoding: UTF-8
      string: '{"name":"Google Monitor","frequency":30,"uri":"https://google.com","locations":["AWS_US_WEST_1"],"type":"script_browser"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:52:10 GMT
[...]
- request:
    method: put
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors/d516ece0-8bf1-4d8d-bcd4-eefa40b0b825/script
    body:
      encoding: UTF-8
      string: '{"scriptText":"dGVzdCBzY3JpcHQ="}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Feb 2016 14:52:11 GMT
[...]
- request:
    method: get
    uri: https://synthetics.newrelic.com/synthetics/api/v1/monitors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<TEST-API-KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"monitors":[],"count":0}'
  recorded_at: Fri, 26 Feb 2016 14:52:12 GMT
recorded_with: VCR 3.0.0
